body {
    background-color: rgb(8, 8, 8);
    font-family: "Segoe UI", "Helvetica";
    overflow: hidden;
    margin: 0;
}

#special {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Consolas", "monospace";
    font-size: 2.75em;
    position: absolute;
    left: 12px;
    top: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#field {
    margin-left: 45px;
    height: 80px;
    width: 90vw;
    font-size: 3em;
    background: 0;
    color: white;
    border: 0;
    outline: none;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div {
    height: 85px;
    background-color: black;
}

a {
    color: rgba(255, 255, 255, 0.725);
    font-size: 1.4em;
    padding-left: 15px;
    text-decoration: none;
}

a:first-child {
    font-weight: 700
}

a:hover {
    color: rgba(255, 255, 255, 0.925);
}

a:focus {
    outline: none;
}

#icon {
    animation: none;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.keyword {
    color: rgb(65, 116, 179);
}

.comment {
    color: rgb(65, 90, 49);
}

.literal {
    color: rgb(255, 170, 91);
}

#games div {
    background-color: transparent;
    margin-top: 7px;
    margin-left: 15px;
    float: left;
    font-size: 1.0em;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Consolas", "monospace";
    height: auto;
    width: 96%;
}

.link {
    font-size: 1.0em;
    color: rgb(65, 116, 179);
    padding: 0;
    font-weight: 100!important;
}

.msg {
    word-break: break-all;
}

.embed {
    color: rgb(65, 90, 49);
    padding: 2px;
}

.title {
    background-color: rgba(255, 255, 255, 0.05);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.desc {
    background-color: rgba(255, 255, 255, 0.02);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 350px;
    overflow-x: hidden;
}

#games img {
    max-width: 780px;
}

#games a img {
    width: 149px;
    height: 149px;
    padding-right: 4px;
}

::-webkit-scrollbar {
    display: none;
}

#games div {
    max-height: 350px;
    overflow-y: scroll;
}

.googres h3 {
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
    color: rgb(65, 116, 179);
    background-color: rgba(255, 255, 255, 0.05);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.googres p {
    margin-top: 0px;
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.02);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}