body {
    background-color: rgb(8, 8, 8);
    font-family: "Segoe UI", "Helvetica";
    overflow: hidden;
    margin: 0;
}

#special {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Consolas", "monospace";
    font-size: 2.75em;
    position: absolute;
    left: 12px;
    top: 14px;
}

#field {
    margin-left: 45px;
    height: 80px;
    width: 90vw;
    font-size: 3em;
    background: 0;
    color: white;
    border: 0;
    outline: none;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div {
    height: 85px;
    background-color: black;
}

a {
    color: rgba(255, 255, 255, 0.725);
    font-size: 1.4em;
    padding-left: 15px;
    text-decoration: none;
}

a:first-child {
    font-weight: 700
}

a:hover {
    color: rgba(255, 255, 255, 0.925);
}

a:focus {
    outline: none;
}

#games div {
    background-color: transparent;
    margin-top: 7px;
    margin-left: 15px;
    float: left;
    font-size: 1.0em;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Consolas", "monospace";
}

#icon {
    animation: none;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.keyword {
    color: rgb(65, 116, 179);
}

.comment {
    color: rgb(65, 90, 49);
}

.literal {
    color: rgb(255, 170, 91);
}